@model IEnumerable<WebApplication9.ViewModels.ClientDetailInfo>
@{
    ViewBag.Title = "foundDates";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>foundDates</title>
</head>
<body>


    <h1> People looking for dates around you! </h1>
    
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    @if (item.client.profile != null)
                    {
                        <img src="~/Images/Uploads/UserProfile/@item.client.profile" class="img-responsive" style="width:100%; height:178px">
                    }
                    else if (item.client.gender == "male")
                    {

                        <img src="~/Images/Uploads/UserProfile/default-profile-male.jpg" style="width:100%; height:178px">




                    }
                    else {
                        <img src="~/Images/Uploads/UserProfile/default-profile-female.jpg" style="width:100%; height:178px">}


                    <div class="caption">
                        <h4>@item.client.UserName</h4>
                        <h4>@item.client.gender</h4>
                        @{                          
                           var dateAndTime = item.client.availableDate.Value.ToString("MMMM dd, yyyy");
                            var time = item.client.timeStart.Value.ToString("h:mm tt");
                        }
                        <h4>Looking for a date on: @dateAndTime at @time</h4>
                      
                        @{
                            var date = DateTime.Now.Date.Subtract((DateTime)item.client.birthdate);
                            int year = (int)date.TotalDays / 365;

                            <h4>@year, @item.client.province </h4>
                                    <p><a href="~/Home/UserProfile/?UserName=@item.client.UserName" class="btn btn-info btn-sm">Quick View</a></p>


                            if (item.client.RoleId != null)
                            {

                                <p>Paid User @item.client.RoleId</p>
                            }
                            else
                            {
                                <p>Normal users</p>
                            }

                            if (item.interests != null)
                            {
                                foreach (var interest in item.interests)
                                {
                                    <span>@interest</span>
                                }
                            }


                        }

                    </div>
                </div>
            </div>
                            }
    </div>



    

</body>
</html>
<script>
    
</script>