@model IEnumerable<WebApplication9.Models.ClientLocation>

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>MyAccount</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Profile", "Profile", new { email = @ViewBag.Email })
            </td>
        </tr>
    }

</table>
